<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miage.toulouse.poi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Culture&apos;Tour"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POI"
        android:usesCleartextTraffic="true">
        <activity android:name=".Component.RechercheParThemeActivity"></activity>
        <activity android:name=".Component.RechercheParNomActivity" />
        <activity android:name=".Component.ListThemesActivity" />
        <activity android:name=".Component.MenuActivity" />
        <activity android:name=".Authentication.RegisterActivity" />
        <activity android:name=".Component.MonProfilActivity" />
        <activity android:name=".Component.EditProfilActivity" />
        <activity android:name=".Component.MenuPointInteret" />
        <activity android:name=".Component.MapViewPoint"/>
        <activity android:name=".Authentication.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>